@model Trash.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        </div>
        <div class="col-md-4">
            
            <h2>User Information</h2>

            @using (Html.BeginForm("Save", "Customers"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.FirstName)
                    @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.LastName)
                    @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.EMailAddress)
                    @Html.TextBoxFor(m => m.Customer.EMailAddress, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.StreetOne)
                    @Html.TextBoxFor(m => m.Customer.StreetOne, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.StreetTwo)
                    @Html.TextBoxFor(m => m.Customer.StreetTwo, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.CityId)
                    @Html.DropDownListFor(m => m.Customer.CityId, new SelectList(Model.Cities, "Id", "CityName"), "Choose City", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.StateId)
                    @Html.DropDownListFor(m => m.Customer.StateId, new SelectList(Model.States, "Id", "StateName"), "Choose State", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.ZipcodeId)
                    @Html.DropDownListFor(m => m.Customer.ZipcodeId, new SelectList(Model.Zipcodes, "Id", "ZipcodeNum"), "Choose ZIP", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.MembershipTypeId)
                    @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), "Select Membership Type", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.DayOfWeekPickUpId)
                    @Html.DropDownListFor(m => m.Customer.DayOfWeekPickUpId, new SelectList(Model.DayOfWeekPickUps, "Id", "DayOfWeek"), "Select Pick-up Day", new { @class = "form-control" })
                </div>
                <div>
                    <label>
                        @Html.LabelFor(m => m.Customer.StartDate)
                        @Html.TextBoxFor(m => m.Customer.StartDate, new { @class = "form-control" })
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Customer.IsCurrentCustomer) Current Customer?
                    </label>
                </div>
                @Html.HiddenFor(m => m.Customer.Id)
                <button type="submit" class="btn btn-primary">Submit</button>
            }

            
            </div>
    <div class="col-md-4">
        </div>
    </div>