@model Trash.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName</h2>
<h2>@Model.LastName</h2>
<ul>
    <li>Address: @Html.DisplayFor(Model => Model.Address.StreetOne)</li>
    <li>This Month's Bill: @Model.MembershipType.PickUpRate</li>
    <li>This Month's Bill: @Html.DisplayFor(Model => Model.MembershipType.PickUpRate)*(4)</li>


    @*@if (Model.Customer.MembershipType.MembershipName == "Monthly")
    {
        <li>This Month's Bill: @Model.Customer.MembershipType.PickUpRate * 4</li>
    }
    else
    {
    <li>This Month's Bill: @Html.DisplayFor(Model => Model.BirthDate)</li>
    }*@
</ul>

