@model Trash.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName @Model.LastName</h2>

<ul>
    <li>Address: @Model.EMailAddress</li>
    <li>Street 1: @Model.StreetOne</li>
    <li>Street 2: @Model.StreetTwo</li>
    <li>City: @Model.City.CityName</li>
    <li>State: @Model.State.StateName</li>
    <li>Zipcode: @Model.Zipcode.ZipcodeNum</li>
    <li>Membership Type: @Model.MembershipType.MembershipName</li>
    <br />
    @if (Model.MembershipType.MembershipName == "Monthly")
    {
        <li>@DateTime.Now.ToString("MMMM") Bill: $@((Model.MembershipType.PickUpRate) * (4.33))</li>
    }
    else
    {
        <li>@DateTime.Now.ToString("MMMM") Bill: $@Model.MembershipType.PickUpRate</li>
    }
</ul>

