@model Trash.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName @Model.LastName</h2>

<ul>
    <li>Address: @Model.EMailAddress</li>
    <li>Address: @Model.Address.StreetOne</li>
    <li>Address: @Model.Address.StreetTwo</li>
    <li>Address: @Model.Address.City</li>
    <li>Address: @Model.Address.State</li>
    <li>Address: @Model.Address.Zipcode</li>
    <li>Address: @Model.MembershipType.MembershipName</li>

    
    @if (Model.MembershipType.MembershipName == "Monthly")
    {
        <li>@DateTime.Now.Month.ToString("MMM") Bill: @((Model.MembershipType.PickUpRate) * (4.33))</li>
    }
    else
    {
        <li>@DateTime.Now.Month.ToString("MMM") Bill: @Model.MembershipType.PickUpRate</li>
    }
</ul>

