@model IEnumerable<Trash.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("Add Employee", "New", null, new { @class = "btn btn-primary" })

@if (Request.IsAuthenticated && User.IsInRole("CanManageForm"))
{
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th><h3>Update Customers Information</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.LastName, "Edit", "Customers", new
                   {
                       id = customer.Id, @*addressID = customer.Address.Id*@ }, null) </td>
                    <td>@Html.ActionLink(customer.FirstName, "Details", "Customers", new { id = customer.Id }, null) </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th><h3>Update Your Information</h3></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.LastName, "Edit", "Customers", new
               {
                   id = customer.Id, @*addressID = customer.Address.Id*@ }, null)
            </td>
            <td>@Html.ActionLink(customer.FirstName, "Details", "Customers", new { id = customer.Id }, null) </td>
        </tr>
        }
    </tbody>
</table>
}

